{% extends 'base.html' %}

{% block title %}

    {{ product.title }}

{% endblock %}

{% block products %}
    <div class="row mx-3 mt-1 d-flex justify-content-between">
        <h3 class="card-title">{{ product.title }}</h3>
        <p class="card-text"><small>Обновлено {{ product.updated.strftime('%d.%m.%Y %H:%M') }}</small></p>
    </div>
    <div class="card mt-0 bg-secondary text-light border-0">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ product.img }}" class="card-img" alt="{{ product.title }}">
        </div>
        <div class="col-md-8">
          <div class="card-body mb-0 pt-0">
              <div class="row">
                  <div class="col">
                      <p class="card-text"><b>Характеристики:</b></p>
                    {% for param in product.__dict__ if product.__dict__[param] not in main_params %}
                        <div class="row">
                        {% if product.__dict__[param] != None %}
                            <div class="col">{{ titles.get(param).get('rus') }}: </div>
                            <div class="col">{{ product.__dict__[param] if product.__dict__[param] != False else 'нет' }}</div>
                        {% else  %}
                            <div class="col">{{ titles.get(param).get('rus') }}: </div>
                            <div class="col">нет</div>
                        {% endif %}
                        </div>
                    {% endfor %}
                  </div>
                  <div class="col">
                    <p class="card-text"><b>Наличие и цены:</b></p>
                    <div class=""><small>

                        <div class=" border border-1 border-white rounded p-3 m-1">
                            <div class="row">
                                <div class="col">Поставщик: </div><div class="col">{{ product.supplier }}</div>
                            </div>
                            <div class="row">
                                <div class="col">Склад: </div><div class="col">{{ product.address }}</div>
                            </div>
                            <div class="row">
                                <div class="col">Наличие: </div><div class="col">{{ product.count }} шт</div>
                            </div>
                            <div class="row">
                                <div class="col">Цена закупки: </div><div class="col">{{ product.purchase_price }} руб</div>
                            </div>
                            <div class="row">
                                <div class="col">Рекомендуемая цена: </div><div class="col">{{ product.retail_price }} руб</div>
                            </div>
                            <div class="row">
                                <div class="col">Цена продажи: </div><div class="col">{{ product.selling_price }} руб</div>
                            </div>
                            <div class="row">
                                <div class="col">Цена "для своих": </div><div class="col">{{ product.low_price }} руб</div>
                            </div>
                        </div>

                        </small>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}