{% extends 'base.html' %}

{% block title %}

    Shinster product base

{% endblock %}

{% block filter %}

<div class="accordion" id="accordionExample">
  <div class="card text-white bg-secondary">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-light btn-sm" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Фильтр
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <form action="{{ url_for('search', category=category) }}" method="post" enctype="multipart/form-data">
            <div class="form-row">
                {% for field in form %}
                    <div class="form-group m-1">
                        {{ field.label(class='control-label') }}
                        {{ field(rows='1', class='form-control', placeholder="") }}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-warning mt-2">Найти</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block products %}
    {% if not products %}
        {% if not GET %}<h2>Подходящих результатов нет</h2>{% endif %}
    {% else %}
        <small>
        {% for filtered in products %} <!-- filtered are products with the same article -->

            <div class="card text-white bg-dark mt-3">
                <div class="card-header">
                    <h6 class="card-title mb-0"><a href="{{ url_for('render_product', db_id=filtered[0].id, category=category) }}">
                        {{ filtered[0].title }}</a> <span class="text-primary">[{{ filtered[0].article or 'нет артикула' }}]</span></h6></div>
              <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-row">
                        <div class="mr-1">
                          <b>Поставщик:</b><br>
                          Склад:<br>
                          {% if not secret %}Закупка:<br>{% endif %}
                          Моя цена:<br>
                          Рекомендуемая цена:<br>
                          Цена продажи:<br>
                          Цена на drom.ru:<br>
                        </div>
                        {% for product in filtered %}
                          <div class="ml-1 mr-2 pr-2 border-1 border-right border-secondary">

                              <b>{{ product.supplier }}</b><br>
                              {{ product.address }} (<b>{{ product.count }} шт.</b>)<br>
                              {% if not secret %}{{ product.purchase_price }} руб<br>{% endif %}
                              {{ product.low_price }}<br>
                              {{ product.retail_price }} руб<br>
                              {{ product.selling_price }} руб<br>
                              {{ product.selling_price }} руб<br>

                          </div>
                        {% endfor %}
                      </div>
                  </div>
              </div>
            </div>

        {% endfor  %}
        </small>
    {% endif %}
{% endblock %}